*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

.bottom-header-right img {
    height:0;
    min-height:100%;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding-bottom: 50px;
}

.header,.body,.quote{
    padding-inline: 7vw;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.bottom-header {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottom-header-right,
.bottom-header-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px;
    padding-inline: 25px;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    margin-top: 3px;
}

.bottom-header-left {
    align-items:flex-start;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.body {
    display: flex;
    flex-direction: column;
    padding-block-end: 50px;
}

.body-header {
    margin: 40px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.container img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 16px;
    border: 2px solid #3882F6;
}

.quote {
    background-color: #E5E7EB;
    padding-block: 100px;
}

.quote p{
    color: #1f2937b5;
    font-size: 32px;
    font-weight: 200px;
    margin-inline: 7vw;
}

#author {
    color: #1F2937;
    font-size: 20px;
    text-align:right;
    font-weight: 900;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.call .container {
    color: white;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
    padding-inline: 60px;
    border-radius: 16px;
}

.container button {
    font-size: 13px;
    border: 1px solid white;
}

.container .left .header {
    background-color: #3882F6;
    padding: 0;
    margin: 0;
    font-size: 32px;
}

